<div class="text-center">
  <div class="form-login">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-link active" id="nav-login-tab" data-bs-toggle="tab" data-bs-target="#nav-login" type="button" role="tab" aria-controls="nav-login" aria-selected="true">Entrar</a>
          <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Cadastre-se</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
        <form class="form-signin" [formGroup]="loginFormGroup" (ngSubmit)="Login(loginFormGroup)" autocomplete="off">
          <div class="row">
            <img id="LogoLogin" class="mx-auto d-block" src="../assets/Images/LogoLogin.png">
          </div>
          <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" formControlName="emailLogin" maxlength="100" class="form-control form-control-sm" id="emailLogin" placeholder="Insira seu email" name="emailLogin" >
            <text-error-message  *ngIf="loginFormGroup.get('emailLogin')?.errors?.['required'] && submitLogin"
              text="Este campo é obrigatório">
            </text-error-message>
          </div>
          <div class="mb-3">
            <label for="pwd" class="form-label">Senha:</label>
            <input type="password" formControlName="senhaLogin" maxlength="10" class="form-control form-control-sm" id="senhaLogin" placeholder="Insira sua senha" name="senhaLogin">
            <text-error-message  *ngIf="loginFormGroup.get('senhaLogin')?.errors?.['required'] && submitLogin"
              text="Este campo é obrigatório">
            </text-error-message>
          </div>
          <button type="submit" class="submit-login" [disabled]="loading">
              <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span [hidden]="loading">Entrar</span>
          </button>       
        </form> 
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <form class="form-signin"  [formGroup]="UserRegisterFormGroup" (ngSubmit)="RegisterUsuario(UserRegisterFormGroup)" autocomplete="off">
          <div class="mb-3 mt-3">
            <label for="email" class="form-label">Nome:</label>
            <input type="text" formControlName="nome" maxlength="150" class="form-control form-control-sm" id="nome" placeholder="Insira seu nome*" name="nome">
            <text-error-message  
              *ngIf="UserRegisterFormGroup.get('nome')?.errors?.['required'] && submitRegister"
              text="Este campo é obrigatório">
            </text-error-message>
          </div>
          <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" formControlName="email" maxlength="150" class="form-control form-control-sm" id="email" placeholder="Insira seu email*" name="email">
            <text-error-message  
              *ngIf="UserRegisterFormGroup.get('email')?.errors?.['email'] && submitRegister"
              text="Campo inválido!">
            </text-error-message>
            <text-error-message  
              *ngIf="UserRegisterFormGroup.get('email')?.errors?.['required'] && submitRegister"
              text="Este campo é obrigatório">
            </text-error-message>
          </div>
          <div class="mb-3 mt-3">
            <label for="email" class="form-label">CPF:</label>
            <input type="text" [mask]= "'000.000.000-00'" formControlName="CPF" maxlength="14" class="form-control form-control-sm" id="CPF" placeholder="Insira seu CPF*" name="CPF">
            <text-error-message  
              *ngIf="UserRegisterFormGroup.get('CPF')?.errors?.['required'] && submitRegister"
              text="Este campo é obrigatório">
            </text-error-message>
            <text-error-message  
              *ngIf="UserRegisterFormGroup.get('CPF')?.errors?.['minlength'] && submitRegister"
              text="Campo inválido!">
            </text-error-message>
          </div>
          <div class="mb-3">
            <label for="pwd" class="form-label">Senha:</label>
            <input type="password" formControlName="senha" maxlength="10" class="form-control form-control-sm" id="pwd" placeholder="Insira sua senha*" name="pswd">
            <text-error-message  
              *ngIf="UserRegisterFormGroup.get('senha')?.errors?.['required'] && submitRegister"
              text="Este campo é obrigatório">
            </text-error-message>
          </div>
          <button type="submit" class="submit-login" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span [hidden]="loading">Cadastrar</span>
          </button>       
        </form>  
      </div>
    </div>
  </div>
    <footer>
      <p class="mt-5 mb-3 text-muted"><b>&copy; Copyright 2022</b></p>
    </footer>
</div>