<div class="wrapper">
  <nav id="sidebar">
      <div class="sidebar-header">
        <div class="d-flex justify-content-center">
            <h3>Projeto Padrão</h3>
            <strong>PJ</strong>
        </div>
      </div>       
      <div class="d-flex flex-column align-items-center justify-content-center mt-2" *ngIf="loading">
        <div class="spinner-grow" role="status"></div>
      </div>

      <ul class="list-unstyled components" *ngIf="!loading">
        <li class="active">  
            <a href="main">
            <i class="bi bi-house-fill"></i>              
            Principal
            </a>
        </li>
        <div *ngFor="let menu of estruturaMenu">
        <li>  
            <a [href]="'#'+ menu.nome" role="button" data-bs-toggle="collapse" aria-expanded="false" 
            class="dropdown-toggle" [attr.aria-controls]="menu.nome">
            <i [class]="menu.icone"></i>
                {{ menu.descricaoLabel}}
            </a>
            <ul class="collapse list-unstyled" [id]="menu.nome" *ngFor="let subMenu of menu.lMenus"> 
                <li routerLinkActive="active">
                    <a [routerLink]="subMenu.link" routerLinkActive="active"><span class="px-2">&#x268A;</span>{{subMenu.nome}}</a>
                </li>
            </ul> 
        </li>
        </div>
      </ul>
  </nav>
  <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
          <div class="container-fluid">
            <div class="btn-group">
                <button type="button" id="sidebarCollapse" class="btn btn-danger" (click)="toggleClass()">
                    <span><i class="bi bi-justify-left"></i></span>
                </button>
            </div>
            <div class="btn-group dropstart">
                <button type="button" class="btn btn-light btn-avatar" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="rounded" src="assets/Images/Avatar.png" width="40" />
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-header"><b>User: </b><small>{{usuarioNome}}</small></li>    
                    <div class="dropdown-divider"></div>                
                  <li><a class="dropdown-item" (click)="deslogar()"><small><i class="bi bi-box-arrow-in-left"></i><span class="px-2">Sair</span></small></a></li>
                </ul>
              </div>
          </div>
      </nav>
      <div class="container-fluid" style="min-height: 100vh;">
        <router-outlet></router-outlet>            
      </div>
      <footer class="text-center p-2 border-top footer-content bottom-0 end-0">
        <section class="d-inline">
            <span class="mb-1 mb-md-0 text-muted">
                <small>            
                    <strong>&copy; 
                        2022 Copyright:
                    </strong>
                    Todos os direitos reservados
                </small>
            </span>
            <a class="btn btn-outline-none btn-floating" href="#!" role="button">
                <i class="bi bi-whatsapp"></i>
            </a>
      
            <a class="btn btn-outline-none btn-floating" href="#!" role="button">
                <i class="bi bi-github"></i>
            </a>
      
            <a class="btn btn-outline-none btn-floating" href="#!" role="button" >
                <i class="bi bi-facebook"></i>
            </a>
        </section>
    </footer>    
  </div>
</div>



