@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
    background: url('src/assets/Images/Walpaper.jpg') no-repeat center center fixed;
    background-size: cover;
}

button:hover{
    cursor: pointer;
}

button:disabled{
    cursor: no-drop;
}

input:hover{
    cursor: auto;
}

label:hover{
    cursor: auto;
}